.calculator {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calculator h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #5145ff;
  }
  
  .calculator input[type="number"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .calculator select {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .calculator button {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }

  
  .calculator button:hover {
    background-color: #00eeff;
  }
  
  .calculator input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #f0f0f0;
  }